@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Poppins", serif;
  overflow: hidden;
}

:root {
  --black: #140812;
  --brown: #20151e;
  --white: #fff;
  --yellow: #e29a3e;
}

.header-container {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.header-container .logo img {
  z-index: 998;
  width: 250px;
  position: fixed;
  left: 30px;
  top: 48px;
  margin-top: 5px;
}

.header-container .navbar {
  top: 20px;
  z-index: 999;
  position: fixed;
  display: flex;
  padding: 30px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  justify-content: space-between;
  /* gap: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
  margin-top: 20px;
  box-shadow: 0 0.5px 0.2px rgba(255, 255, 255, 0.1);
}

.header-container .navbar a {
  text-decoration: none;
}

.header-container .navbar a .icon {
  /* background-color: #ccc; */
  width: 60px;
  height: 40px;
  color: #fff;
  /* opacity: 0.2; */
  font-size: 24px;
  overflow: hidden;
  text-align: center;
}

.header-container .navbar a .icon .fas {
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 24px;
  transition: 0.5s;
  color: #fff;
  overflow: visible;
}

.header-container .navbar a.active .icon .fas,
.header-container .navbar a.active .name span {
  color: var(--yellow);
}

.header-container .navbar a.active .name span::before {
  color: var(--white);
}

.header-container .navbar a .icon .fas:last-child {
  color: var(--yellow);
}
.header-container .navbar a.active .icon .fas:last-child {
  color: var(--white);
}

.header-container .navbar a:hover .icon .fas {
  transform: translateY(-100%);
}

.header-container .navbar a .name {
  color: #fff;
  display: block;
  text-align: center;
  position: relative;
  height: 18px;
  width: 100%;
  overflow: hidden;
}

.header-container .navbar a .name span {
  display: block;
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  transition: 0.5s;
  overflow: visible;
}

.header-container .navbar a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--yellow);
}

.header-container .navbar a:hover .name span {
  transform: translateY(17px);
}

.hero-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(20, 8, 18, 0.7), rgba(20, 8, 18, 0.7)),
    url("Gambar/home.jpeg");
  background-size: cover;
  background-position: center;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
}

.hero-container .content {
  scroll-behavior: smooth;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.4);
  border: 10px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    )
    1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  width: 550px;
  height: 100vh;
}

.hero-container .content h2 {
  font-size: 18px;
  position: absolute;
  top: 25vh;
  left: 10px;
  color: var(--yellow);
}

.hero-container .content p {
  top: 10vh;
  position: relative;
  font-size: 12px;
  color: var(white);
  opacity: 0.7;
  width: 550px;
  height: 300px;
  overflow: auto;
  text-align: left;
}

.hero-container .content p::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.hero-container .content p::-webkit-scrollbar-track {
  background-color: 0, 0, 0, 0.2;
  border-radius: 10px;
}

.hero-container .content p::-webkit-scrollbar-thumb {
  background-color: #e29a3e;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
.hero-container .content p::-webkit-scrollbar-thumb:hover {
  background-color: #d58f32;
}

.hero-container .content button {
  position: relative;
  top: 10vh;
  background-color: var(--yellow);
  margin-top: 40px;
  width: 250px;
  padding: 15px 10px;
  font-weight: 500;
  color: var(--black);
  border: 1px solid var(--black);
}

.hero-container .content button:hover {
  background-color: var(--black);
  color: var(--yellow);
  cursor: pointer;
  border: 1px solid var(--yellow);
}

/* Gallery Section Start */
.glr-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 1520px;
  height: 99%;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  overflow: visible;
}

.glr-container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}
.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .glr-content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 500px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.slide .item:nth-child(2) .glr-content {
  display: block;
}

.glr-content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.glr-content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.glr-content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover {
  background: var(--black);
  color: var(--yellow);
}
/* Gallery Section End */

/* Teeams Section Start */
.card-container {
  /* position: absolute; */
  background-color: #000;
  opacity: 0.9;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  align-items: center;
  overflow: visible;
}

.card {
  margin-top: 100px;
  width: 250px;
  height: 420px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  perspective: 2500px;
  cursor: pointer;
  border-radius: 30px;
  overflow: visible;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wraper {
  overflow: visible;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #000;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 100%;
}

.wraper img {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card:hover .wraper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wraper::before,
.wraper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  border-radius: 30px;
  position: absolute;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wraper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.wraper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wraper::before,
.wraper::after {
  opacity: 1;
}
.card:hover .wraper::after {
  height: 50px;
}

.text {
  overflow: visible;
  width: 100%;
  transition: transform 0.5s;
  position: absolute;
  bottom: 10px;
  color: var(--yellow);
  text-align: center;
  text-wrap: nowrap;
}

.text h2 {
  font-size: 24px;
  overflow: visible;
}

.text p {
  display: none;
}

.card:hover .text {
  transform: translate3d(0%, -50px, 100px);
  color: var(--yellow);
}

.card:hover .text p {
  transform: translate3d(0%, -50px, 100px);
  display: inline;
  color: white;
}

.card:hover .cover-image {
  opacity: 0.3;
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  filter: drop-shadow(2px 2px 2px #000);
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(5%, -20%, 670px);
}

/* Teeams Section End */

/* Product Sections Start */
.prd-container {
  background-color: var(--black);
  padding: 2rem;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.prd-slider-wraper {
  /* top: 200px; */
  /* background-color: yellow; */
  position: relative;
  max-width: 400rem;
  margin-bottom: 70px;
}

.prd-slider {
  padding-top: 180px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.prd-slider::-webkit-scrollbar {
  height: 8px;
}

.prd-slider::-webkit-scrollbar-thumb {
  background: transparent;
}

.prd-slider::-webkit-scrollbar-track {
  background: transparent;
}
.prd-content {
  /* background-color: var(--white); */
  display: flex;
  flex: 1 0 100%;
  justify-content: space-between;
  scroll-snap-align: start;
  object-fit: cover;
}

.prd-content .spect {
  margin-top: 20px;
  margin-left: 100px;
}

.prd-content .spect h2 {
  font-size: 40px;
  color: var(--yellow);
  margin-bottom: 50px;
}

.prd-content .spect p {
  margin-top: 40px;
  font-size: 20px;
  color: var(--white);
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}
/* Product Sections End */

/* Product sub-navbar section start */
.sub-navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0.5px 0.2px rgba(255, 255, 255, 0.1);
  z-index: 9999;
  /* box-sizing: border-box; */
  position: fixed;
  padding: 10px;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  /* background-color: var(--yellow); */
}

.sub-navbar a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: 0 35px;
}

.sub-navbar a:hover,
.sub-navbar a.active {
  color: var(--yellow);
}

/* Product sub-navbar section END */

/* service section start */
.srv-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  transform: translateY(5%);
}

.srv-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.srv-wraper .box {
  height: 380px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.srv-wraper .box::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 650px;
  height: 650px;
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--yellow), transparent, transparent);
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.srv-wraper .box:hover:before {
  opacity: 1;
}

.srv-wraper .box::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background: rgba(45, 45, 45, 0.75);
}

.srv-wraper .box i {
  color: var(--white);
  font-size: 120px;
  opacity: 0.9;
  z-index: 9999;
}

.srv-wraper .box h2 {
  color: var(--yellow);
  /* color: rgba(255, 255, 255, 0.7); */
  z-index: 9999;
  margin-bottom: 0;
  padding-bottom: 0;
}

.srv-wraper .box p {
  color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  font-size: 15px;
  text-align: center;
}

.srv-wraper .box .btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: 25px 75px;
  z-index: 999;
  overflow: visible;
  margin: 10px;
}

.srv-wraper .box .btn a {
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: var(--white);
  z-index: 9999;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(15px);
}

.srv-wraper .box .btn:hover a {
  letter-spacing: 3px;
  overflow: visible;
}

.srv-wraper .box .btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255 0.15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all 0.5s ease-out;
  z-index: 9999;
  overflow: visible;
}

.srv-wraper .box .btn:hover a::before {
  transform: skewX(40deg) translateX(200%);
  overflow: visible;
}

.srv-wraper .box .btn::before,
.srv-wraper .box .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: var(--yellow);
  transition: all 0.4s ease-in-out;
  transition-delay: 0s;
  overflow: visible;
}

.srv-wraper .box .btn::before {
  bottom: -5px;
  overflow: visible;
}

.srv-wraper .box::after {
  top: -5px;
  overflow: visible;
}

.srv-wraper .box .btn:hover::before,
.srv-wraper .box .btn:hover::after {
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.3s;
  overflow: visible;
}

.srv-wraper .box .btn:hover::before {
  overflow: visible;
  bottom: 0;
}

.srv-wraper .box .btn:hover::after {
  overflow: visible;
  top: 0;
}

/* service section end */

/* Media queries */
/* Tablet section start */
@media (max-width: 835px) {
  .header-container .logo img {
    display: none;
  }
  .hero-container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .hero-container .content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Posisi elemen-elemen tetap di atas */
    align-items: center;
  }
  .hero-container .content h2 {
    position: relative;
    top: 16vh;
  }
  .hero-container .content p {
    top: 15vh;
    height: 450px;
  }
  .hero-container .content button {
    top: 13vh;
  }
}
/* Tablet section Ends */
